*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #faf0e6;
}

header{
  font-family: Roboto;
  font-size: 23px;

  text-transform: uppercase;
  text-align: center;
  padding-top: 14px;

  z-index: 2;

  opacity: 1;
  top: 20px;
  border-top: solid 4px black;
  border-bottom: solid 4px black;
  height: 90px;
  max-width: 880px;
  margin: 0 auto;
  position: relative;
  /* background-color: blue; */
  /* line-height: 3; */
  background-color: hsla(48, 79%, 47%, 0.79);

  display: flex;
  justify-content: center;
}

section.contact{
  font-size: 20px;
  font-family: Roboto;

  text-align: center;
  line-height: 1.5;

  top: 100px;
  max-width: 350px;
  /* height: 100px; */
  padding-top: 1px;
  padding-bottom: 10px;
  position: relative;
  /* background-color: red; */
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

footer{
font-family: Roboto;

  position: relative;
  top: 280px;
}

p{
  padding-top: 37px;
  height: 100px;
  /* display: inline-flex; */
}

span{
  text-transform: uppercase;
}

a{
  color: black;
}

.contactSpacing{
  height: 15px;
}

.sidePic{
  background-image: url("../Grafika/contactGraphic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;

  min-width: 1000px;
  min-height: 1000px;
  max-height: 9000px;
  position: absolute;
  display: flex;
  flex: 2 2 1500px;
}

.flexContainer{
  position: relative;
  top: 155px;
  min-height: 250px;
  max-width: 880px;
  margin: 0 auto;
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  align-content: space-around;
  /* flex-direction: row; */

  flex-flow: row wrap;

}

.flexTest{
  background-color: aquamarine;
  text-align: center;
  border: solid 1px black;
  display: block;
  height: 100px;
  width: 300px;
  /* max-width: 400px; */
  /* max-height: 200px; */
  /* flex-grow: 1; */
  /* display: inline-block; */
}

#flex .flexTest{
  font-family: Roboto;
}
